:focus {
    outline: none;
}

body, html {
    padding: 0 0;
    width: 100%;
    background-color: green;
}

h1 {
    font-size: 3em;
    color: white;
    font-family:'Slabo 27px', serif;
    /*font-family:'Roboto', sans-serif;*/
}

h2 /*barcode*/ {
    font-size: 3em;
    color: white;
    font-family:'Libre Barcode 39 Extended', cursive;
}

.container {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10vw;
    margin-left: 10vw;
    text-align: center;
}

#showVideo {
    display: flex;
    flex-wrap: wrap;
}

#showVideo > div {
    width: 100%;
    margin: auto;   
}

#showVideo > div > p.title {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#showVideo > div > img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#showvideo > div > p {
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}