:focus {
    outline: none;
}

body, html {
    width: 100%;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-family:'Slabo 27px', serif;
    /*font-family:'Roboto', sans-serif;*/
}

h2 /*barcode*/ {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family:'Libre Barcode 39 Extended', cursive;
}

.container {
    width: 70%;
    text-align: center;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 50;
    margin-left: 50;
}

#showVideo {
    display: flex;
    flex-wrap: wrap;
}

#showVideo > div {
    width: 100%;
    margin: auto;
    padding-bottom: .5em;
}

#showVideo > div > p {
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 1em;
    color: white;
}

#showVideo > div > img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}